* {
  min-width 0
}

html,
body {
  min-width 320px
  height 100%
}

html {
  -webkit-tap-highlight-color rgba(#000, 0)
}

body {
  cursor default
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  overflow-y scroll
  color $color-main
  font-family $font-main
  font-size $size-main
  line-height $line-main
  display flex
  background-color $color-8
}

+do(500) {
  body {
    font-size 15px
    line-height 1.2
  }
}

#__nuxt {
  flex 1
  display flex
}

#__layout {
  display flex
  flex 1
}

.app-body {
  flex 1
  display flex
  flex-direction column

  &__wrapper {
    overflow hidden
    flex 1 0 auto
    display flex
    flex-direction column
    position relative
  }

  &__header,
  &__footer,
  &__content {
    flex 0 0 auto
  }

  &__content {
    flex-grow 1
    display flex
    padding 0 20px
  }

  &__footer {
    margin-top auto
  }
}

.app-content {
  display flex
  max-width 1180px
  margin 0 auto
  box-sizing border-box
  flex 1

  &__sidebar {
    width 160px
    padding-top 20px
    box-sizing border-box
    padding-left 0
    margin-right 20px
  }

  &__main {
    flex 1
    box-sizing border-box
    padding-left 30px
    padding-right 30px
  }

  &__additional {
    flex 1
    max-width 300px
    background-color $color-3
    color $color-main
    padding-top 20px
  }
}
