$resize = 1.5;
// 1
.-gap_1 {
  margin-bottom 15px
}
.-gap-out_1 {
  margin-bottom -15px
}
.-gap-inner-top_1 {
  padding-top 15px
}
.-gap-inner-bottom_1 {
  padding-bottom 15px
}
+do(750) {
  .-gap_1 {
    margin-bottom (15/$resize)px
  }
  .-gap-out_1 {
    margin-bottom -(15/$resize)px
  }
  .-gap-inner-top_1 {
    padding-top (15/$resize)px
  }
  .-gap-inner-bottom_1 {
    padding-bottom (15/$resize)px
  }
}

// 2
.-gap_2 {
  margin-bottom 30px
}
.-gap-out_2 {
  margin-bottom -30px
}
.-gap-inner-top_2 {
  padding-top 30px
}
.-gap-inner-bottom_2 {
  padding-bottom 30px
}
+do(750) {
  .-gap_2 {
    margin-bottom (30/$resize)px
  }
  .-gap-out_2 {
    margin-bottom -(30/$resize)px
  }
  .-gap-inner-top_2 {
    padding-top (30/$resize)px
  }
  .-gap-inner-bottom_2 {
    padding-bottom (30/$resize)px
  }
}

// 3
.-gap_3 {
  margin-bottom 45px
}
.-gap-inner-top_3 {
  padding-top 45px
}
.-gap-inner-bottom_3 {
  padding-bottom 45px
}
+do(750) {
  .-gap_3 {
    margin-bottom (45/$resize)px
  }
  .-gap-inner-top_3 {
    padding-top (45/$resize)px
  }
  .-gap-inner-bottom_3 {
    padding-bottom (45/$resize)px
  }
}

// 4
.-gap_4 {
  margin-bottom 60px
}
.-gap-inner-top_4 {
  padding-top 60px
}
.-gap-inner-bottom_4 {
  padding-bottom 60px
}
+do(750) {
  .-gap_4 {
    margin-bottom (60/$resize)px
  }
  .-gap-inner-top_4 {
    padding-top (60/$resize)px
  }
  .-gap-inner-bottom_4 {
    padding-bottom (60/$resize)px
  }
}

// 5
.-gap_5 {
  margin-bottom 75px
}
.-gap-inner-top_5 {
  padding-top 75px
}
.-gap-inner-bottom_5 {
  padding-bottom 75px
}
+do(750) {
  .-gap_5 {
    margin-bottom (75/$resize)px
  }
  .-gap-inner-top_5 {
    padding-top (75/$resize)px
  }
  .-gap-inner-bottom_5 {
    padding-bottom (75/$resize)px
  }
}

// 6
.-gap_6 {
  margin-bottom 90px
}
.-gap-inner-top_6 {
  padding-top 90px
}
.-gap-inner-bottom_6 {
  padding-bottom 90px
}
+do(750) {
  .-gap_6 {
    margin-bottom (90/$resize)px
  }
  .-gap-inner-top_6 {
    padding-top (90/$resize)px
  }
  .-gap-inner-bottom_6 {
    padding-bottom (90/$resize)px
  }
}

// 7
.-gap_7 {
  margin-bottom 115px
}
.-gap-inner-top_7 {
  padding-top 115px
}
.-gap-inner-bottom_7 {
  padding-bottom 115px
}
+do(750) {
  .-gap_7 {
    margin-bottom (115/$resize)px
  }
  .-gap-inner-top_7 {
    padding-top (115/$resize)px
  }
  .-gap-inner-bottom_7 {
    padding-bottom (115/$resize)px
  }
}
