.-display-none {
  display none
}


+do(1500 'miw') {
  .-l-visible {
    display none
  }
}
+do(1200 'miw') {
  .-m-visible {
    display none
  }
}
+do(1000 'miw') {
  .-s-visible {
    display none
  }
}
+do(750 'miw') {
  .-xs-visible {
    display none !important
  }
}
+do(500 'miw') {
  .-xxs-visible {
    display none
  }
}


+do(1200) {
  .-m-hidden {
    display none
  }
}
+do(1000) {
  .-s-hidden {
    display none
  }
}
+do(750) {
  .-xs-hidden {
    display none !important
  }
}
+do(500) {
  .-xxs-hidden {
    display none
  }
}



.-text-inherit {
  font inherit
}

.-font-family_main {
  font-family $font-main
}

.-font-weight_inherit {
  font-weight inherit
}

.-font-weight_bold {
  font-weight 700
}

.-font-weight_normal {
  font-weight 400
}
.-opacity-05 {
  opacity 0.5
}

.--bg-x1 {
  //
}
.--bg-x2 {
  display none
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .--bg-x1 {
    display none
  }

  .--bg-x2 {
    display block
  }
}
