// Block sizes
$block-padding = 20px
$block-width = (1180px - ($block-padding * 2))
$block-max-width = 1180px
$block-max-width-wide = 1700px

$grid-gap = 20px
$grid-width = 80px


// Font sizes
$size-main = 16px
$line-main = 20px
define-size-line($size-main, $line-main)

define-size-line(60, 58)
define-size-line(36, 42)
define-size-line(34, 40)
define-size-line(24, 36)
define-size-line(22, 26)
define-size-line(20, 24)
define-size-line(18, 22)
define-size-line(16, 18)
define-size-line(14, 18)
define-size-line(12, 18)


// Margins
$margin-paragraph = (24 / no-unit($size-main)) em


// Fonts
$font-fallback-main = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font-merriweather = 'Merriweather', $font-fallback-main
$font-merriweatherSans = 'Merriweather Sans', $font-fallback-main
$font-lato = 'Lato', $font-fallback-main
$font-title = $font-merriweather
$font-main = $font-lato

// Change Colors
$color-primary = #51A1FF
$color-primary-light =#89A2FA
$color-secondary = #B591BE
// System Colors

//main
$color-1 = white
$color-2 = #0C131B

$color-3 = #F8F8F8
$color-4 = #A3A3A3
$color-5 = #EDEDED

$color-main = $color-2
$color-title = $color-2
$color-link = $color-main
$color-hover = $color-main
$color-error = $color-4
$color-success = $color-5
$color-info = $color-6
$color-warning = $color-8

// Animations
$easing-main = unquote('cubic-bezier(0.645, 0.045, 0.355, 1)');
$transition-long = unquote('.75s ' + $easing-main)
$transition-medium = unquote('.5s ' + $easing-main)
$transition-main = unquote('.25s ' + $easing-main)
$transition-fast = unquote('.15s ' + $easing-main)
