.ui-list {
  &__list {
    display flex
    flex-wrap wrap
    margin-left -10px
    margin-right -10px
    margin-bottom -20px
    &-item {
      margin-right 10px
      margin-left 10px
      margin-bottom 20px
      max-width calc(25% - 20px)
      flex-basis @max-width
    }
  }
}
