.article-preview {
  padding-top 30px
  padding-bottom 30px
  display block
  color inherit !important
  position relative

  &:before {
    content ''
    position absolute
    top 0
    left -30px
    right -30px
    bottom 0
    display block
    background-color $color-3
    z-index -1
    opacity 0
    overflow hidden
    border-radius 10px
    transition $transition-main
  }

  &__title {
    font-family $font-title
    use-size(24)
    font-weight 700
  }

  &__tags {
    display flex
    margin 0 -8px
    margin-bottom 20px

    &-item {
      margin 0 8px
      padding 4px 8px
      background-color $color-3
      color $color-secondary
      border-radius 4px
      use-size(12)
      font-weight 700
    }
  }

  &__additions {
    color $color-4
    use-size(12)
    display flex
    margin 0 -5px

    &-item {
      margin 0 5px
    }
  }

  &__info {
    color $color-4
    use-size(12)
    display flex
    margin 0 -5px
    margin-bottom 10px

    &-item {
      margin 0 5px

      &_view {
        margin-left auto
        position relative
        padding-left 20px

        &:before {
          content ''
          display block
          width 15px
          height 15px
          background-image url('assets/images/ui/eye.svg')
          position absolute
          left 0
          top 1px
        }
      }
    }
  }

  &__desc {
    margin-bottom 20px
  }

  &__img {
    margin-bottom 20px
    min-height 250px
    border-radius 5px
    overflow hidden
    position relative

    img {
      display block
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      object-fit cover
      width 100%
      height 100%
    }
  }

  &:hover {
    &:before {
      opacity 1
    }
  }
}


+do(750) {
  .article-preview {
    padding-top 10px
    padding-bottom 10px

    &__title {
      use-size(20)
    }

    &__tags {
      margin-bottom 10px
    }
  }
}

.article {
  padding-top 20px
  max-width 670px
  margin 0 auto

  &__main {

  }

  &__content {
    margin-bottom 40px

    img {
      width 100%
      border-radius 5px
      max-width 100%
    }
  }

  &__info {
    display flex
    color $color-4
    use-size(12)
    margin 0 -5px
    justify-content flex-end

    &-item {
      margin 0 5px

      &_view {
        margin-left auto
        position relative
        padding-left 20px

        &:before {
          content ''
          display block
          width 15px
          height 15px
          background-image url('assets/images/ui/eye.svg')
          position absolute
          left 0
          top 1px
        }
      }
    }
  }

  &__img {
    min-height 250px
    position relative
    border-radius 5px
    overflow hidden
    margin-bottom 20px

    img {
      position absolute
      top 0
      left 0
      right 0
      display block
      bottom 0
      object-fit cover
      width 100%
      height 100%
    }
  }

  &__title {
    use-size(34)
    margin-bottom 30px
  }

  &__informer {
    margin-bottom 30px
  }
}


+do(1300) {
  .article {
    &__main {
      max-width 650px
    }
  }
}

+do(750) {
  .article {
    padding-top 0
    &__informer {
      margin-bottom 15px
    }
  }
}

.article-informer {
  padding 15px 20px
  overflow hidden
  border-radius 15px
  background-color $color-3
  color $color-4
  use-size(12)

  &__list {
    display flex
    margin 0 -10px
    justify-content space-between
    align-items center
    flex-wrap wrap
    margin-bottom -10px

    &-item {
      margin 0 10px
      margin-bottom 10px
    }
  }
}


.article-tags {
  display flex
  margin 0 -7px
  use-size(12)
  font-weight 700
  color $color-secondary

  &__item {
    margin 0 7px
    padding 5px 10px
    background-color $color-1
    border-radius 5px
    color $color-secondary
  }
}

.article-author {
  display flex
  align-items center

  &__side {
    flex 0 0 auto
    margin-right 10px
  }

  &__main {
    flex 1
  }

  &__avatar {
    width 30px
    height 30px
    background-color $color-primary
    border-radius 50%
  }
}

+do(750) {
  .article-informer {
    border-radius 0
    margin 0 -20px
    padding 20px 20px
  }
}
