.categories {
  use-size(18)
  font-weight 500
  max-width 200px
  &__list {
    &-item {
      margin-bottom 12px

      &:last-child {
        margin-bottom 0
      }
    }
  }

  &__link {
    display block
    &_simple {
      use-size(14)
      color $color-4
      font-weight 400
    }
    .nuxt-active {
      color $color-primary
    }
  }

  &__main {
    padding-bottom 20px
    margin-bottom  15px
    box-sizing border-box
    border-bottom 1px solid $color-5
  }

  &__side {

  }
  &__links {
    &-item {
      margin-bottom 10px
    }
  }
}
