.footer {
  use-size(14)
  background-color $color-3
  color $color-4
  padding-top 60px
  padding-bottom 20px

  &__major {
    margin-bottom 50px
  }

  &__cols {
    &-list {
      display flex
      flex-wrap wrap
      margin-left -10px
      margin-right -10px
      justify-content space-evenly
    }

    &-item {
      flex 1
      margin-left 10px
      margin-right 10px
      max-width 295px

      &_name {
        margin-right 40px
        flex 0 0 auto
      }

      &_nav {
      }
    }
  }

  &__nav {
    &-list {
      display flex
      flex-wrap wrap
      margin 0 -10px
      margin-bottom -10px
    }

    &-item {
      margin 0 10px
      margin-bottom 10px
    }

    &-link {
      color $color-4
    }
  }

  &__copyright {
    use-size(14)
    text-align center
  }

  &__minor {
    &-wrapper {
      display flex
      flex-wrap wrap
      margin-right -5px
      margin-left -5px
      align-items flex-end
    }

    &-main {
      margin-right 5px
      margin-left 5px
      flex 1
    }

    &-side {
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
    }
  }

  &__callback {
    display flex
    justify-content flex-end
  }

  &__limitations {
    padding 5px 8px
    border-radius 5px
    background-color $color-primary-light
  }
}

+do(1200) {
  .footer {
    padding-top 20px
    padding-bottom 20px

    &__major {
      margin-bottom 20px
    }

    &__nav {
      &-list {
        display flex
        justify-content center
      }
    }

    &__cols {
      &-list {
        justify-content flex-start
      }

      &-item {
        &_rules {
          max-width none
          flex 1 1 100%
          padding-top 15px
          display flex
          justify-content center

          .footer {
            &__nav {
              &-list {
                display block
                text-align center
              }
            }
          }
        }
      }
    }
  }
}

+do(750) {
  .footer {
    &__major {
    }

    &__nav {
      &-list {
        justify-content flex-start
      }
    }

    &__cols {
      &-item {
        flex 0 0 auto
        margin-bottom 20px
        &_rules {
          padding-top 0
          margin-bottom 0
          .footer {
            &__nav {
              &-list {
                text-align left
              }
            }
          }
        }
      }
    }
  }
}

