.footer {
  use-size(14)
  color $color-1
  background-color $color-primary
  padding-top 20px
  padding-bottom 30px

  &__major {
    padding-bottom 30px
    margin-bottom 30px
    border-bottom 1px solid rgba($color-1, 0.1)
  }

  &__cols {
    &-list {
      display flex
      flex-wrap wrap
      margin-left -10px
      margin-right -10px
    }

    &-item {
      flex 1
      margin-left 10px
      margin-right 10px

      &_name {
        margin-right 40px
        flex 0 0 auto
      }

      &_nav {
      }
    }
  }

  &__nav {
    &-title {
      font-weight 700
      margin-bottom 15px
      use-size(16)
    }

    &-item {
      margin-bottom 8px
    }

    &-link {
      color $color-1

      &:hover {
        color $color-1
      }
    }
  }

  &__copyright {
    use-size(14)
  }

  &__minor {
    &-wrapper {
      display flex
      flex-wrap wrap
      margin-right -5px
      margin-left -5px
      align-items flex-end
    }

    &-main {
      margin-right 5px
      margin-left 5px
      flex 1
    }

    &-side {
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
    }
  }

  &__copyright {
    use-size(12)
  }
  &__callback {
    display flex
    justify-content flex-end
  }
  &__limitations {
    padding 5px 8px
    border-radius 5px
    background-color $color-primary-light
  }
}
