.header {
  background-color $color-7
  padding-top 10px
  padding-bottom 10px
  margin-bottom 30px
  border-bottom 1px solid $color-9
  &__content {
    display flex
    margin-left -5px
    margin-right -5px
    align-items center

    &-side {
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
    }

    &-main {
      margin-right 5px
      margin-left 5px
      flex 1
    }
  }

  &__logo {
    display block
    img {
      display block
    }
  }

  &__info {
    display flex
    align-items center

    &-side {
      flex 0 0 auto
      margin-right 60px
    }

    &-main {
      flex 1
    }
  }

  &__nav {
    &-list {
      display flex
      align-items center
      margin-left -10px
      margin-right -10px
    }

    &-item {
      margin-left 10px
      margin-right 10px
    }

    &-link {
      font-weight 500
      text-decoration none
    }
  }
}
