.header {
  padding-top 10px
  padding-bottom 10px
  color white
  background: linear-gradient(90deg, #51A1FF 12.94%, #CB8FF4 26.21%, #A5F4FF 41.35%, #89A2FA 60.65%, #6DAFFC 77.63%);
  min-height 48px
  padding-left 50px
  padding-right 50px
  box-sizing border-box
  display flex
  align-items center
  &__wrapper {
    margin 0 auto
    flex 1
  }
  &__content {
    display flex
    margin-left -5px
    margin-right -5px
    align-items center

    &-side {
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
    }

    &-main {
      margin-right 5px
      margin-left 5px
      flex 1
    }
  }

  &__logo {
    display block
    color white
    font-weight 700
    use-size(20)
    outline none
    img {
      display block
    }
    &:hover {
      opacity 0.8
    }
    &:active {
      opacity 0.6
    }
  }

  &__info {
    display flex
    align-items center

    &-side {
      flex 0 0 auto
      margin-right 60px
    }

    &-main {
      flex 1
    }
  }

  &__nav {
    color: white;
    &-list {
      display flex
      align-items center
      margin-left -10px
      margin-right -10px
    }

    &-item {
      margin-left 10px
      margin-right 10px
    }

    &-link {
      font-weight 500
      color white !important
      text-decoration none
    }
  }
}
