.pagination {
  &__wrapper {
    display flex
    flex-wrap wrap
    margin-right -5px
    margin-left -5px
  }

  &__main {
    flex 1
    margin-right 5px
    margin-left 5px
  }

  &__side {
    flex 0 0 auto
    margin-right 5px
    margin-left 5px
  }

  &__list {
    display flex
    flex-wrap wrap
    margin-right -5px
    margin-left -5px
  }

  &__nav,
  &__item {
    width 40px
    height 40px
    border-radius 50%
    box-sizing border-box
    position relative
    display flex
    justify-content center
    align-items center
    margin-right 5px
    margin-left 5px
    font-weight 500
    cursor pointer
    transition .3s ease
    border 2px solid rgba($color-primary, 0)
    color #979CA6

    &-title {
      line-height 1
      margin-bottom -1px
    }

    &.active {
      background $color-primary
      color white
    }

    &:hover {
      opacity 0.8
    }
  }

  &__nav {
    border 2px solid rgba(white, 0)

    &_prev {
      position relative

      &:before {
        content ''
        display block
        position absolute
        left 50%
        top 50%
        width 15px
        height 15px
        transform translate(-50%, -50%)
        background-image url('assets/images/ui/arrow-left.svg')
        background-repeat no-repeat
        background-position center
        background-size contain
      }

      &:hover {
        &:before {

        }
      }

      &:active {
        opacity 0.8
      }
    }

    &_next {
      position relative

      &:before {
        content ''
        display block
        position absolute
        left 50%
        top 50%
        width 15px
        height 15px
        transform translate(-50%, -50%)
        background-image url('assets/images/ui/arrow-right.svg')
        background-repeat no-repeat
        background-position center
        background-size contain
      }

      &:hover {
        &:before {        }
      }

      &:active {
        opacity 0.8
      }
    }

    &.disabled {
      opacity 0.5
      pointer-events none
    }
  }
  div,
  a {
    outline none
  }
}

+do(750) {
  .pagination {
    &__nav,
    &__item {
      width 30px
      height 30px

      &.active {
        background rgba($color-primary, 0)
        color $color-primary
      }
    }

    &__nav {
      border-color rgba(white, 0)
    }

    &__wrapper {
      display flex
      justify-content center
    }
  }
}
