.topic-header {
  position relative
  color $color-4

  &__title {
    use-size(20)
    font-weight 700
    font-family $font-title

  }

  &__wrapper {
    display flex
    align-items center
    position relative
  }

  &__main {
    flex 1
    padding-top 20px
    padding-bottom 20px
  }

  &__side {
    flex 0 0 auto
  }

  &__actions {
    display flex
    align-items center
    margin 0 -15px
    use-size(14)

    &-item {
      margin 0 15px
      cursor pointer
      position relative
      padding-right 5px
      padding-left 5px
      box-sizing border-box
      &.is-active {
        pointer-events none
        color $color-main
        &:before {
          position absolute
          bottom -10px
          width 100%
          display block
          content ''
          height 2px
          left 50%
          transform translateX(-50%)
          background-color $color-primary-light
          border-radius 2px
        }
      }

      &:hover {
        opacity 0.8
      }
    }
  }
}


.topic {
  margin 0 auto
  max-width 650px

  &__main {
    margin-bottom 60px
  }
}

+do(750) {
  .topic-header {
    &__main {

    }
    &__actions {
      &-item {

      }
    }
  }
}
