.topic-header {
  padding-bottom 15px
  position relative
  color $color-4
  &__title {
    use-size(20)
    font-weight 700
    font-family $font-title

  }

  &__wrapper {
    display flex
    align-items center
    position relative
  }

  &__main {
    flex 1
    padding-top 20px
    padding-bottom 10px
  }

  &__side {
    flex 0 0 auto
  }

  &__actions {
    display flex
    align-items center
    margin 0 -15px
    use-size(14)
    &-item {
      margin 0 15px
      cursor pointer
      position relative
      padding-top 20px
      padding-right 5px
      padding-left 5px
      padding-bottom 10px
      border-bottom 2px solid transparent
      box-sizing border-box
      &.is-active {
        border-bottom 2px solid $color-primary-light
        pointer-events none
        color $color-main
      }
      &:hover {
        opacity 0.8
      }
    }
  }
}


.topic {
  &__main {
    margin-bottom 60px
  }
}
